div {
	background-color: #FFAAAA;
	border: 3px solid purple; 
	}
p{
	background-color: white;
	text-align: center;
	border: 1px dashed blue;
	margin: 20px 20px 30px 40px;
	padding:  10px 10px 20px 20px;
 }