p{
	background-color: white;
	text-align: center;
	border: 1px dashed blue;
	margin: 20px 20px 30px 40px;
 }
div {
	background-color: #FFAAAA;
	padding:  20px 10px 30px 40px; 
	border: 3px solid purple; 
	margin: 20px 10px 
	}